body{
  box-sizing: border-box;
}
img:not(.image-footer img){
  height: 20rem;
  width: 20rem;
  border-style: solid;
  border-color: lightgray;
  padding: 3rem;
  margin: 1rem;
  margin-bottom: 0;
}
li {
  display: inline-block;
  /* border-style: double;
  border-color: gray; */
}


.image-footer img{
  border-radius: 3px;
  height: 2rem;
  width: 2rem;
}


ul.authors {
  float: right;
  display: inline-block;
  /* position: absolute;
  text-align: right; */
  margin-right: 16px;
  top: 0px;
  padding-left: .5rem;

}
.image-caption {
float: right;


}

.image-footer{
  position: relative;
  /* text-align: center; */
}
.image-number{
  left: 16px;
  position: absolute;
  color: lightgray;
}
a {
  vertical-align: sub;
 color: black;
 text-decoration-style: solid;
 text-decoration-line: none;
 font-weight: bold;
 font-family: sans-serif;

}
span {
  vertical-align: sub;
  color: gray;
  font-weight: bold;
  font-family: sans-serif;
}

.octocat{
  border-bottom: lightgray;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-width: thin;

}
